{% extends 'base.html' %}

{% load rest_framework %}

{% block content %}

    <p>Upload Image</p>
    <form method="post" action="{% url 'upload_image' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% render_form image_form %}
        <input type="submit" value="Upload Image">
    </form>

    <p>Upload Video</p>
    <form method="post" action="{% url 'upload_video' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% render_form video_form %}
        <input type="submit" value="Upload Video">
    </form>

{% endblock %}