{% extends 'base.html' %}

{% block content %}

    <h1>{{ book.title }}</h1>
    
    <p><strong>Author: </strong><a href="{% url 'author-detail' book.author.id %}">{{ book.author }}</a></p>
    <p><strong>Summary: </strong>{{ book.summary }}</p>
    <p><strong>ISBN: </strong>{{ book.isbn }}</p>
    <p><strong>Genre: </strong> {% for genre in book.genre.all %}{{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p><strong>Language: </strong>{{ book.language }}</p>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Copies</h4>
        
        {% for copy in book.bookinstance_set.all %}
            <p class="{% if copy.status == 'a'%}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
                <strong>Status:</strong>{{ copy.get_status_display }}
            </p>
            {% if copy.status != 'a' %}
                <p><strong>Due to be returned:</strong>{{ copy.due_back }}</p>
            {% endif %}
            <p><strong>Imprint:</strong>{{ copy.imprint }}</p>
            <p><strong>Id:</strong>{{ copy.uniqueId }}</p>
        {% endfor %}
    </div>
{% endblock %}